
# Standard Python libraries
IPython==8.12.0

# Libraries for data manipulation and image processing
Pillow==9.4.0
numpy==1.24.3
opencv-python ==4.9.0.80

# PyTorch libraries for deep learning
torch==2.0.1
torchvision==0.15.2

# Specific library from Ultralytics (YOLO)
Ultralytics==8.1.9
dill==0.3.8